body{
    margin: 0;
}

 h1{
    font-size: 5em;
    margin-bottom: .2em;
 }

 h2{
    font-size: 3.5em;
    margin: 0;
 }

p{
    font-size: 3em;
}

.main{
    height: 100vh;
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: teal;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    border-radius: 3.125em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    height: auto;
    width: auto;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.hamburger .bar .hamburger:after .hamburger:before {
content: '';
display: block;
width: 100%;
height: 5px;
background-color: white;
margin: 6px 0px;
transition: 0.4s;
}

.hamburger.is-active:before {
transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active:after {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

